:root {
    font-family: sans-serif;
    --background-color: #282828;
    --white-text-color: #EBDBB2;
    --gray-text-color: #A89984;
    --red-text-color: #CC241D;
    --light-red-text-color: #FB4934;
    --green-text-color: #98971A;
    --light-green-text-color: #B8BB26;
    --yellow-text-color: #D79921;
    --light-yellow-text-color: #FABD2F;
    --blue-text-color: #458588;
    --light-blue-text-color: #83A598;
    --purple-text-color: #B16286;
    --light-purple-text-color: #D3869B;
    --aqua-text-color: #689D6A;
    --light-aqua-text-color: #8EC07C;
    --orange-text-color: #D65D0E;
    --light-orange-text-color: #FE8019;
}

body {
    color: var(--white-text-color);
    background-color: var(--background-color);
    width: 100vw;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin:0;
    padding:0;
    gap:0;
}

.header-container {
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
    flex-grow: 1;
}

main {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.title {
    padding: 20px 20px;
    margin: 0px;
}

.title h1 {
    color: var(--white-text-color);
    font-size: 40px;
    text-align: left;
    padding: 0px;
    margin: 0px;
    display: inline;
}

nav {
    text-align: right;
    padding: 20px 20px;
    word-spacing: 0.6em;
}

nav a {
    font-size: 20px;
    line-height: 28px;
    padding: 0px 0px;
    transition: all 0.5s ease-out;
}

nav #home-link {
    color: var(--red-text-color);
}

nav #home-link:hover,
#home-nav #home-link{
    color: var(--light-red-text-color);
    font-size: 26px;
}

nav #about-link {
    color: var(--green-text-color);
}

nav #about-link:hover,
#about-nav #about-link{
    color: var(--light-green-text-color);
    font-size: 26px;
}

nav #blog-link {
    color: var(--yellow-text-color);
}

nav #blog-link:hover,
#blog-nav #blog-link{
    color: var(--light-yellow-text-color);
    font-size: 26px;
}

nav #projects-link {
    color: var(--blue-text-color);
}

nav #projects-link:hover,
#projects-nav #projects-link{
    color: var(--light-blue-text-color);
    font-size: 26px;
}

nav #resume-link {
    color: var(--orange-text-color);
}

nav #resume-link:hover,
#resume-nav #resume-link{
    color: var(--light-orange-text-color);
    font-size: 26px;
}

nav #contact-link {
    color: var(--purple-text-color);
}

nav #contact-link:hover,
#contact-nav #contact-link{
    color: var(--light-purple-text-color);
    font-size: 26px;
}

.photo-banner {
    height: calc(100vh - 90px);
    width: 100%;
    overflow: hidden;
    opacity: 70%;
}

.photo-banner#home-photo-banner {
    background: url("/static/images/thoreau-cabin-portrait.jpg") no-repeat scroll center top;
    background-position-y: -100px;
}