:root {
    font-family: sans-serif;
    --background-color: #282828;
    --white-text-color: #EBDBB2;
    --gray-text-color: #A89984;
    --red-text-color: #CC241D;
    --light-red-text-color: #FB4934;
    --green-text-color: #98971A;
    --light-green-text-color: #B8BB26;
    --yellow-text-color: #D79921;
    --light-yellow-text-color: #FABD2F;
    --blue-text-color: #458588;
    --light-blue-text-color: #83A598;
    --purple-text-color: #B16286;
    --light-purple-text-color: #D3869B;
    --aqua-text-color: #689D6A;
    --light-aqua-text-color: #8EC07C;
    --orange-text-color: #D65D0E;
    --light-orange-text-color: #FE8019;

}

#nav #home-nav {
    color: var(--light-red-text-color);
    font-size: 26px;
}