{% extends "blog/base.html" %}

{% block main %}
<main id="blog-home-main">
    <div id="blog-body">
        <div id="blog-content" class="content-column">
            <div id="blog-post">
                <h1>This is a blog title</h1>
                <p>
                    This is the post 
                </p>
            </div>
        </div>
        <div id="blog-sidebar" class="content-column">
            <p>
                LINKS
            </p>
            <p>
                LINKS
            </p>
            <p>
                LINKS
            </p>
            <p>
                LINKS
            </p>
        </div>
    <div>

    </div>
</main>
{% endblock main %}