{% extends "base.html" %}

{% block nav %}
<a id="home-nav" class="highlighted" href="/" target="_self">Home</a>
<a id="about-nav" href="/about" target="_self">About</a>
<a id="blog-nav" href="/blog" target="_self">Blog</a>
<a id="projects-nav" href="/projects" target="_self">Projects</a>
<a id="resume-nav" href="/resume" target="_self">Resume</a>
<a id="contact-nav" href="/contact" target="_self">Contact</a>
{% endblock nav %}

{% block body %}
<div class="photo-banner" id="home-photo-banner">
</div>
{% endblock body %}