{% extends "base.html" %}

{% block nav %}
<a id="home-nav" href="/" target="_self">Home</a>
<a id="about-nav" href="/about" target="_self">About</a>
<a id="blog-nav" href="/blog" target="_self">Blog</a>
<a id="projects-nav" href="/projects" target="_self">Projects</a>
<a id="resume-nav" class="highlighted" href="/resume" target="_self">Resume</a>
<a id="contact-nav" href="/contact" target="_self">Contact</a>
{% endblock nav %}

{% block body %}
<div class="resume">
    <div id="profile">
        <h2>Profile</h2>

    </div>
    <div id="skills">
        <h2>Skills</h2>

    </div>
    <div id="education">
        <h2>Education</h2>

    </div>
    <div id="experience">
        <h2>Experience</h2>

    </div>
    <div id="work">
        <h2>Highlighted Work</h2>

    </div>
    <div id="languages">
        <h2>Languages</h2>

    </div>
    <hr align="center">
    <div id="attatchments">
        <a href="/static/files/quinn-murphey-resume.pdf" download="quinn-murphey-resume.pdf">Download a pdf copy!</a>
    </div>
</div>
{% endblock body %}